td {
    width: 80%;
}
.resolve_ticket_button {
    background-color: lightskyblue;
}
.mat-list .mat-list-item {
    height: 20px; 
}
.comment_date {
    color: lightslategray;
}
.comment_name_date, .comment_ {
    width: 100%;
    text-align: left;
}
// ::ng-deep.popup_full {

//     max-width: 80vw !important;

    

 

// }
// .popup_full {
//     position: fixed;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     overflow: auto;   
//   }