<mat-accordion class="popup_full">
    <mat-card>
        <mat-card-content>
            <td><input nbInput type="text" placeholder="Comment" class="ticket_comment"></td>
            <td><button mat-raised-button class="resolve_ticket_button"> RESOLVE TICKET </button></td><hr>
            <mat-list>
                <mat-list-item class="Issues"><b>Issues: </b></mat-list-item>
                <mat-list-item class="Issues_data">ticket_backend_issue</mat-list-item><hr>
                <mat-list-item class="Description"><b>Description: </b></mat-list-item>
                <mat-list-item class="Description_data">ticket_desc</mat-list-item><hr>
                <mat-list-item class="Stages"><b>Stages: </b></mat-list-item>
                <mat-list-item class="Stages_data">objects</mat-list-item><hr>
                <mat-list-item class="Comments"><b>Comments: </b></mat-list-item>
                <div>
                    <mat-card>
                        <mat-card-header>
                            <td class="comment_name_date"><b>Pápay Mihály </b> - <span class="comment_date">2020-03-20 08:59:38</span></td>
                        </mat-card-header>
                        <mat-card-header>
                            <td class="comment_">Waypoint state change: "Arrived station".</td>
                        </mat-card-header>
                    </mat-card>
                    <mat-card>
                        <mat-card-header>
                            <td class="comment_name_date"><b>Reich Jenő </b> - <span class="comment_date">2020-03-19 11:05:21</span></td>
                        </mat-card-header>
                        <mat-card-header>
                            <td class="comment_">Ticket state changed to In Progress</td>
                        </mat-card-header>
                    </mat-card>
                    <mat-card>
                        <mat-card-header>
                            <td class="comment_name_date"><b>Csorba Erik </b> - <span class="comment_date">2020-03-18 09:59:38</span></td>
                        </mat-card-header>
                        <mat-card-header>
                            <td class="comment_">Waypoint state change: "Arrived station".</td>
                        </mat-card-header>
                    </mat-card>
                    <mat-card>
                        <mat-card-header>
                            <td class="comment_name_date"><b>Csorba Erik </b> - <span class="comment_date">2020-03-18 09:59:38</span></td>
                        </mat-card-header>
                        <mat-card-header>
                            <td class="comment_">Waypoint state change: "Arrived station".</td>
                        </mat-card-header>
                    </mat-card>
                    <mat-card>
                        <mat-card-header>
                            <td class="comment_name_date"><b>Csorba Erik </b> - <span class="comment_date">2020-03-18 09:59:38</span></td>
                        </mat-card-header>
                        <mat-card-header>
                            <td class="comment_">Waypoint state change: "Arrived station".</td>
                        </mat-card-header>
                    </mat-card>
                    <mat-card>
                        <mat-card-header>
                            <td class="comment_name_date"><b>Csorba Erik </b> - <span class="comment_date">2020-03-18 09:59:38</span></td>
                        </mat-card-header>
                        <mat-card-header>
                            <td class="comment_">Waypoint state change: "Arrived station".</td>
                        </mat-card-header>
                    </mat-card>
                </div>
            </mat-list>
        </mat-card-content>
    </mat-card>
</mat-accordion>
