p, h1, h2, h3  {
    color: black;
}
mat-card {
    background-color: #5ca1d6;
}
mat-expansion-panel-header {
    background-color: #B9DBF7;
}
mat-expansion-panel {
    background-color: #B9DBF7;
}
.Client_Player, .Client_Player_header {
    background-color: #d9defc;
}
span.opendays {
    display: inline-block;
}